`{{violation.rule}}`: {{violation.message}}

Refer to GitLab-Controller's
[coding style documentation](https://github.com/crossplaneio/crossplane/blob/master/CONTRIBUTING.md#coding-style-and-linting)
for more information.